/* Center the heading */
.center-heading {
  text-align: center;
}

/* Styling for outer container */
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
 background-color: #f4f4f4;
}

/* Styling for the form wrapper */
.form-wrapper {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 20, 0, 0.9);
  background-color: #fff;
  margin-right: 20px;
  display: flex; /* Use flexbox layout */
  flex-direction: column;
}

/* Styling for form elements */
.form-element {
  margin-bottom: 10px;
}

.form-element label {
  font-weight: bold;
}

.form-element input[type="text"],
.form-element input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styling for the submit button */
.submit-button {
  align: center;
  background-color: #004400; /* Green color */
  color: white; /* White text color */
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition for the color change */

}

.submit-button:hover {
  background-color: #009900; /* Darker shade of green on hover */
}
.message{
color: blue;
}
.log-in{
color: green;
}
/* Apply styling to required form elements */
.form-element.required label::before,
.form-element.required label::after {
  content: "*";
  color: red;
  margin-left: 5px;
}

